@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
}

.outcontainer {
  background-image:url('/images/background.jpg');;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro, .skills, .projects, .milestonesAndCretifications ,.intern{
  background-color: rgb(65, 53, 53);
  color: aliceblue;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin: 30px auto;
  font-size: 21px;
  text-align: justify;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  animation: pop-in 0.8s ease-in-out;
  padding: 50px 30px;
  font-family: cursive;
  font-size: 20px;
}

.skills {
  flex-direction: column;
}

.scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50vw;
  overflow: hidden; /* Hide overflow to display only 3 images at a time */
  padding: 20px 5vw;
}

.col {
  display: flex;
  gap: 20px;
  transition: scroll 0.5s;
  scroll-behavior: smooth; /* Smooth scroll for the container */
  overflow-x: auto;
  width: 100%;
}

.col img {
  width: 150px;
  height: auto;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Scroll buttons */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

.prev-btn {
  left: -30px;
}

.next-btn {
  right: -30px;
}

.Heading, .MileStonesHeading, .ContactHeading {
  font-size: 40px;
  font-family: "Spicy Rice", serif;
  margin-top: 10px;
  padding: 0 20vw;
  animation: pop-in 0.8s ease-in-out;
  color:white;
}

@keyframes pop-in {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.con1{
  font-family: "Protest Strike", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 0px 17vw 14px;

}

.con2{
  padding:5px 11vw;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.projects{
  height:240vh;
}
.projectContent dd{
  font-size: 20px;
  font-family: cursive;
  padding-bottom: 10px;
}
.projectContent dt{
  font-family: cursive;
  padding-bottom: 10px;
  color: antiquewhite;
}
.project1Heading{
  color:  rgb(145, 126, 129) ;
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: underline;
    padding-bottom: 20px;
    padding-top:20px;
    text-align: center;
}
.projectContent a,.contentIntern a{
  color:white;
}
.projectContent a:hover{
  background-color:rgb(11, 11, 11);
}
.contentIntern a:hover{
  background-color:rgb(11, 11, 11);
}
.head{
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding:0px 9vw 13px;
  color:  rgb(138, 102, 108) ;
  font-size: 21px;
}
.headIntern {
  color:  rgb(138, 102, 108) ;
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom:10px;
  color: rgb(138, 102, 108) ;
}
.contentIntern dt{
padding:10px 0px;
color: antiquewhite;
font-size: 20px;
}